
<h1>Création d'un departement</h1>


<form action="" (ngSubmit)="storeDepartement()">
  <div class="form-group">
    <label for="">Entrer le libllé du departement</label>
    <h3>
      la valeur selectionné est : {{selected_fruit}}
  </h3>

      <select  id="" class="form-control" (change)="affichagedesdynailiques($event)">
        <option disabled value="null">Selectionner une adresse </option>
        <option *ngFor="let option of departements" [value]="option.id" >
           {{ option.nom }}
        </option>
      </select>

    <input [(ngModel)]="name" name="name" class="form-control">

  </div>
  <button type="submit">Enregistrer</button>
  <a routerLink="/departement">Retourner</a>

</form>







<!--

<section class="h-100">
  <div class="container h-100">
    <div class="row justify-content-sm-center h-100">
      <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">

        <div class="card shadow-lg my-5">
          <div class="card-body p-5">
            <h1 class="fs-4 card-title fw-bold mb-4">Nouveau Departement</h1>
            <form  (ngSubmit)="storeDepartement()">
              <div class="mb-3">
                <label class="mb-2 text-muted" for="libelle">Libéllé du departement</label>
                <input id="libelle" type="text" class="form-control" [(ngModel)]="name"  required>
              </div>

              <div class="align-items-center d-flex">
                <button type="submit" class="btn btn-primary ms-auto">
                Enregistrer
                </button>


              </div>
            </form>

            <button routerLink="/departement">Retourner</button>
          </div>

        </div>

      </div>
    </div>
  </div>
</section> -->
