
<a  href="" routerLink="/departement/create">Créer un departement</a>

<button (click)="export(departements)">EXPOTER LES DONNES VERS EXCELL </button>

<table class="table">
  <thead>
      <tr>
          <th>#</th>
          <th>Libellé departements</th>
          <th>Action</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let dep of departements">
          <td>{{ dep.id }}</td>
          <td>{{ dep.nom }}</td>
          <!-- <button class="btn btn-warning btn-sm mx-2" routerLink="departement/edit/{{ dep.id }}">Edition</button> -->
          <a class="btn btn-warning btn-sm mx-2"  routerLink="/edition/{{ dep.id}}/edit">Edition du departement</a>
          <button class="btn btn-danger btn-sm mz-2" (click)="deleteData(dep.id)">Supprimer</button>
      </tr>
  </tbody>
</table>
